/* == CLASSES AND UNIVERSAL STYLES ==*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

:root {
    --honeydew: #E5F4E3;
    --argentinianBlue: #5DA9E9;
    --marianBlue: #003F91;
    --white: #FFFFFF;
    --finn: #6D326D;
}

body {
    background-color: var(--argentinianBlue);
}

table {
    padding: 10px 50px;
    border-spacing: 0px;
    width: 100%;
}

td, tr {
    padding: 5px 20px;
}

thead {
    position: sticky;
    top: 0;
}

th {
    color: var(--white);
    background-color: var(--marianBlue);
    padding: 5px 10px;
}

tr:nth-child(even) {
    background-color: var(--honeydew);
}

tr:hover {
    background-color: var(--white);
}

.notDisplayed {
    display: none;
}

/* == TEMPLATES == */

/* JOB RECORDS INTERFACE */
.intButtons {
    width: clamp(10%, 100px, 150px);
    height: clamp(10%, 100px, 150px);
    cursor: pointer;
    border-radius: 20px;
    align-self: center;
}

.intButtons:hover {
    opacity: .8;
    background-color: var(--honeydew);
}

#jobRecordsInt {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

/* JOB RECORD*/
.editImage:hover, .deleteImage:hover {
    opacity: .2;
    cursor: pointer;
}

/* == NAV BAR ==*/
#selectorContainer {
    padding: 1rem 0;
    border-bottom: 3px solid var(--finn);
}

#dbSelect {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#dbSelect li {
    padding: 1rem 2rem;
    font-weight: 700;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: var(--marianBlue);
}

#dbSelect li:hover {
    background-color: var(--honeydew);
    opacity: .8;
}

/* == DB Display == */
#dbInterface {
    border-bottom: 3px solid var(--finn);
}

#dbDisplay {
    overflow: auto;
    width: 100%;
}

/* == Add Application == */
#applicationViewContainer {
    position: absolute;
    height: 100%;
    width: 100%;
}

#blackout {
    position: absolute;
    opacity: .95;
    background-color: black;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#contentContainer {
    position: relative;
    display: flex;
    height: 100%;
    z-index: 2;
}

#viewContent {
    background-color: var(--white);
    border-radius: 20px;
    padding: 50px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

#viewContent h1 {
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 0.1rem;
}

#viewForm {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.viewInput {
    margin-bottom: 1rem;
    margin-top: .2rem;
    border-radius: 5px;
    padding: .2rem;
    background-color: var(--honeydew);
}

.viewInput:focus {
    background-color: var(--argentinianBlue);
    outline-color: var(--marianBlue);
}

#appAccept:hover, #appClose:hover, #appReset:hover {
    opacity: .8;
    background-color: var(--marianBlue);
    border-radius: 50%;
    cursor: pointer;
}