<section id="applicationViewContainer" class="notDisplayed">
    <div id="blackout"></div>
    <div id="contentContainer">
        <div id="viewContent">
            <h1 id="viewApplicationHeader"></h1>
            <form id="viewForm">
                <div>
                    <label for="inLink">Link</label><br>
                    <input id="inLink" class="viewInput" type="text" name="link" placeholder="www.google.com"><br>
                    <label for="inDate">Apply by</label><br>
                    <input id="inDate" class="viewInput" type="date" name="applyDate"><br>
                    <label for="inTime" for="inTime">Apply by</label><br>
                    <input id="inTime" type="time" class="viewInput" name="applyTime"><br>
                    <label for="inCompany">Company</label><br>
                    <input id="inCompany" class="viewInput" type="text" name="company" placeholder="Google"><br>
                    <label for="inTech">Tech</label><br>
                    <input id="inTech" class="viewInput" type="text" name="tech" placeholder="CSVs"><br>
                    <label for="inNotes">Notes</label><br>
                    <input id="inNotes" class="viewInput" type="text" name="notes" placeholder="Free Stuff"><br>
                </div>
    
                <div>
                    <label for="inRole">Title</label><br>
                    <input id="inRole" class="viewInput" type="text" name="title" placeholder="Position"><br>
                    <label for="inCommute">Commute</label><br>
                    <input id="inCommute" class="viewInput" type="number" name="commute" placeholder="in minutes"><br>
                    <label for="inStatus">Status</label><br>
                    <input id="inStatus" class="viewInput" type="text" name="status" value="Not Applied"><br>
                    <label for="inSalary">Salary</label><br>
                    <input id="inSalary" class="viewInput" type="number" name="salary" placeholder="50000"><br>
                    <label for="inCity">City</label><br>
                    <input id="inCity" class="viewInput" type="text" name="city" value="Chicago"><br>
                    <label for="inState">State</label><br>
                    <input id="inState" class="viewInput" type="text" name="state" value="Illinois"><br>
                </div>
            </form>

            <div id="actionButtons">
                <input type="image" id="appAccept" form="viewForm" alt="Submit" src="images/circle-check-solid.svg" width="50px" height="50px">
                <img id="appClose" src="images/xmark-solid.svg" width="55px" height="50px">
                <img id="appReset" src="images/rotate-right-solid.svg" width="55px" height="50px"></mg>
            </div>
        </div>
    </div>

</section>