<tr>
    <td class="recName" name="id">{{id}}</td>
    <td class="recRole" name="role">{{title}}</td>
    <td class="recLink" name="link">{{link}}</td>
    <td class="recStatus" name="status">{{status}}</td>
    <td class="recApplyDate" name="apply_date">{{applyDate}}</td>
    <td class="recApplyTime" name="apply_time">{{applyTime}}</td>
    <td class="recCity" name="city">{{city}}</td>
    <td class="recState" name="state">{{state}}</td>
    <td class="recCommute" name="commute">{{commute}}</td>
    <td class="recCompany" name="company">{{company}}</td>
    <td class="recSalary" name="salary">{{salary}}</td>
    <td class="recNotes" name="notes">{{notes}}</td>
    <td class="recTechList" name="techList">{{tech}}</td>
    <td><img class="editImage" src="{{editImageSource}}" width="40"> <img class="deleteImage" src="{{deleteImageSource}}" width="40"></td>
</tr>