<tr>
    <td name="id">{{id}}</td>
    <td name="role">{{role}}</td>
    <td name="link">{{link}}</td>
    <td name="status">{{status}}</td>
    <td name="apply_date">{{applyDate}}</td>
    <td name="aaply_time">{{applyTime}}</td>
    <td name="city">{{city}}</td>
    <td name="state">{{state}}</td>
    <td name="commuteMins">{{commuteMins}}</td>
    <td name="company">{{company}}</td>
    <td name="salary">{{salary}}</td>
    <td name="notes">{{notes}}</td>
    <td name="techList">{{techList}}</td>
    <td><img class="editImage" src="{{editImageSource}}" width="40"> <img class="deleteImage" src="{{deleteImageSource}}" width="40"></td>
</tr>